<%- include('./partials/header.ejs') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/login" method="GET">
					<label for="usuario">Usuario (email):</label>
					<input type="email" id="usuario" name="usuario" required><br><br>
				
					<label for="contraseña">Contraseña:</label>
					<input type="password" id="contraseña" name="contraseña" required><br><br>
				
					<label for="recordarme">Recordarme:</label>
					<input type="checkbox" id="recordarme" name="recordarme"><br><br>
				
					<input type="submit" value="Iniciar sesión">
				</form>
				
			</h2>
	<%- include('./partials/footer.ejs') %>

