<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="agregarproducto" action="/profile" method="GET" enctype="multipart/form-data">
					<div>
						<label for="imagen">Imagen:</label>
						<input type="file" id="imagen" name="imagen" accept="image/*" >
					</div>
					<div>
						<label for="nombre_producto">Nombre del Producto:</label>
						<input type="text" id="nombre_producto" name="nombre_producto">
					</div>
					<div>
						<label for="descripcion">Descripción:</label>
						<textarea id="descripcion" name="descripcion" rows="4" cols="50" style="resize: none;"></textarea>
					</div>
					<div>
						<input type="submit" value="Enviar">
					</div>
				</form>
			</h2>


			<%- include('./partials/footer.ejs') %>